<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="CleanURL_WebApp" version="2.5">
  <display-name>CleanURI WebApp</display-name>
  <servlet>
    <servlet-name>CleanURIServlet</servlet-name>
    <servlet-class>com.penguineering.cleanuri.webapp.CleanURIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CleanURIServlet</servlet-name>
    <url-pattern>/cleanuri</url-pattern>
  </servlet-mapping>
</web-app>